<link rel="icon" type="image/svg+xml" href="{{ get_url(path='favicon.svg') | safe }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='favicon-32x32.png') | safe }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='favicon-16x16.png') | safe }}" />
<link rel="icon" type="image/png" href="{{ get_url(path='favicon.png') | safe }}" />
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ get_url(path='apple-touch-icon.png') | safe }}" />